/* Tonos profesionales azul/gris */
:root {
  --color-primary: #02132b;
  --color-secondary: #f4f6f8;
  --color-background: #04193d;
  --color-text: #180b38;
  --color-accent: #021e3a;
}

/* Fondo general */
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Poppins", sans-serif; /* Elegante */
}

/* Títulos */
h1, h2, h3 {
  color: var(--color-secondary);
}

/* Botones */
button {
  background-color: var(--color-primary);
  color: rgba(248, 246, 246, 0.473);
  border-radius: 6px;
  transition: 0.3s;
}

button:hover {
  background-color: var(--color-accent);
}
