name: Node CI

on:
  push:
    branches: [ "dev", "qa", "main" ]
  pull_request:
    branches: [ "dev", "qa", "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: ['20.19.0', '22.12.0']

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - run: npm ci
      - run: npm run build --if-present
      - run: npm test

  after-matrix:
    runs-on: ubuntu-latest
    needs: build-test
    steps:
      - run: echo "Aquí podrías publicar artefactos, notificar, etc."
